html {
  font-family: 'Roboto', sans-serif;
  color: #6b6b6b;
  font-size: 14px; }

body {
  background: #e0e0e0; }

div {
  box-sizing: border-box; }

p {
  line-height: 1.5; }

ul {
  margin: 0 0 10px 20px;
  padding: 0; }

a {
  text-decoration: none;
  color: #6086b7;
  transition: 0.25s all; }
  a:hover {
    color: #95b1d6; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes bounce {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }

.header {
  display: flex;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.27);
  background: #f3f3f3;
  height: 46px;
  position: relative;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: flex-start; }

.logo {
  padding: 10px;
  width: 200px; }
  .logo img {
    height: 100%;
    width: auto; }

.search {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 50%; }
  .search form {
    width: 100%;
    display: flex;
    border: 1px solid #cacaca;
    border-radius: 3px; }
    .search form input {
      padding: 7px 10px;
      outline: 0;
      background: #f3f3f3;
      border: 0;
      border-radius: 3px 0 0 3px;
      width: calc(100% - 55px); }
    .search form button {
      height: 100%;
      background: #e6e6e6;
      border: 0;
      padding: 7px 20px;
      border-radius: 0 3px 3px 0;
      border-left: 1px solid #cacaca;
      outline: 0;
      width: 55px;
      cursor: pointer; }

.simple-nav {
  padding: 10px;
  margin: 0 0 0 auto;
  overflow: hidden;
  list-style: none;
  font-size: 25px; }
  .simple-nav span {
    display: block;
    margin-top: -1px; }

.user-profile {
  padding: 7px;
  margin: 0 10px;
  width: 46px;
  height: 46px;
  cursor: pointer; }
  .user-profile p {
    margin: 0;
    line-height: 1;
    padding: 10px; }
  .user-profile .crop-image {
    height: 100%;
    border-radius: 100px;
    overflow: hidden; }
    .user-profile .crop-image img {
      height: 100%;
      width: auto; }

.leftnav {
  width: 95px;
  background: #32414a;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.27);
  height: calc(100vh - 46px);
  position: relative;
  z-index: 998;
  position: fixed;
  left: 0;
  bottom: 0; }
  .leftnav ul {
    margin: 0;
    list-style: none;
    padding: 10px 0px; }
    .leftnav ul li {
      padding: 0;
      color: #FFF;
      font-size: 13px;
      text-align: center; }
      .leftnav ul li a {
        padding: 10px 0;
        color: #FFF;
        display: block;
        margin-bottom: 2px; }
        .leftnav ul li a:hover {
          background: #647c8a; }
      .leftnav ul li span {
        display: block;
        font-size: 25px; }

.main-container {
  background: #e6e6e6;
  display: flex;
  background: #f3f3f3;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.27); }
  .main-container p {
    margin: 0 0 10px;
    font-size: 13px; }
  .main-container ul {
    font-size: 13px; }
    .main-container ul li {
      padding: 2px 0; }
  .main-container .leftside {
    width: 250px;
    background: #e6e6e6;
    border-right: 1px solid #DDD; }
    .main-container .leftside img {
      width: 100%;
      height: auto;
      display: block; }
    .main-container .leftside .img-holder {
      padding: 10px;
      padding-bottom: 0; }
    .main-container .leftside .readnow {
      display: block;
      text-align: center;
      text-decoration: none;
      background: #54a575;
      color: #FFF;
      padding: 10px;
      margin-top: 10px;
      border-radius: 5px;
      font-size: 16px;
      margin: 10px; }
    .main-container .leftside .mini-data {
      overflow: auto;
      display: flex;
      padding: 10px;
      border-top: 1px solid #DDD;
      font-size: 13px; }
      .main-container .leftside .mini-data span {
        display: block;
        width: 50%; }
      .main-container .leftside .mini-data span:first-child {
        font-weight: 500;
        color: #5889a7; }
  .main-container .rightside {
    width: calc(100% - 250px);
    padding: 10px; }
    .main-container .rightside h1 {
      font-weight: 300;
      margin: 0 0 10px;
      border-bottom: 1px solid #DDD;
      padding: 5px 0; }
    .main-container .rightside h3 {
      margin: 0 0 5px;
      font-weight: 500;
      font-size: 14px;
      color: #5889a7; }
    .main-container .rightside p {
      margin-bottom: 20px; }
    .main-container .rightside ul {
      overflow: auto;
      margin: 0 0 20px;
      list-style: none; }
    .main-container .rightside li {
      width: 50%;
      float: left;
      padding: 5px;
      box-sizing: border-box;
      transition: 0.25s all;
      border-radius: 5px;
      cursor: default; }
    .main-container .rightside li:hover {
      background: #e8e8e8; }
    .main-container .rightside .split-two {
      display: flex; }
      .main-container .rightside .split-two .fifty-container {
        padding: 5px 20px 5px 5px; }
      .main-container .rightside .split-two .larger {
        width: 75%; }
      .main-container .rightside .split-two .smaller {
        width: 25%; }
    .main-container .rightside .related, .main-container .rightside .preview {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 20px; }
      .main-container .rightside .related div, .main-container .rightside .preview div {
        display: block;
        padding: 5px 3px 0;
        width: 20%;
        position: relative; }
        .main-container .rightside .related div img, .main-container .rightside .preview div img {
          width: 100%;
          height: auto;
          display: block; }
        .main-container .rightside .related div span, .main-container .rightside .preview div span {
          position: absolute;
          bottom: 0;
          left: 0;
          margin: 0 3px;
          background: rgba(50, 65, 74, 0.76);
          color: #FFF;
          font-weight: 300;
          padding: 10px 10px;
          box-sizing: border-box; }

.content-with-nav {
  overflow: auto;
  margin-left: 95px;
  margin-top: 46px; }
  .content-with-nav .main-container {
    width: 100%; }

.content-without-nav {
  overflow: auto;
  margin-top: 46px;
  width: 100%;
  background: #f3f3f3; }
  .content-without-nav .mini-back {
    text-align: left;
    background: #e6e6e6;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #DDD; }
    .content-without-nav .mini-back h3 {
      font-weight: 300;
      font-size: 2em;
      margin: 0 0 10px; }
  .content-without-nav .bottom {
    border-top: 1px solid #DDD;
    border-bottom: 0;
    margin-bottom: 0; }
  .content-without-nav .imageholder {
    text-align: center; }
    .content-without-nav .imageholder img {
      max-width: 100%;
      margin: 0 auto;
      display: block;
      margin-bottom: 10px; }

.upload-form {
  background: #f3f3f3;
  padding: 10px; }
  .upload-form h4 {
    font-weight: 500;
    margin: 5px 0 5px 3px;
    font-size: 11px; }
  .upload-form input, .upload-form textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #DDD;
    outline: 0; }
  .upload-form button {
    background: #32414a;
    border: 0;
    padding: 10px 20px;
    color: #FFF;
    border-radius: 3px;
    margin: 10px 5px;
    cursor: pointer;
    transition: 0.25s all; }
  .upload-form button:hover {
    background: #647c8a; }

.homepage, .browse {
  background: #f3f3f3; }
  .homepage .leftside, .browse .leftside {
    width: calc(100% - 300px);
    display: flex; }
    .homepage .leftside .userinfo, .homepage .leftside .browseinfo, .browse .leftside .userinfo, .browse .leftside .browseinfo {
      width: 300px;
      background: #e6e6e6;
      border-right: 1px solid #DDD; }
    .homepage .leftside .moreitems, .browse .leftside .moreitems {
      padding: 10px 15px;
      width: calc(100% - 300px); }
    .homepage .leftside h1, .browse .leftside h1 {
      font-weight: 300;
      margin: 0 0 10px;
      border-bottom: 1px solid #DDD;
      padding-bottom: 5px;
      font-size: 20px; }
  .homepage .rightsideloader, .browse .rightsideloader {
    width: 300px;
    background: #e6e6e6;
    border-left: 1px solid #DDD;
    position: fixed;
    height: calc(100vh - 46px);
    margin-top: 46px;
    top: 0;
    right: 0;
    z-index: 1;
    transition: 0.25s all;
    transform: translateX(100%); }
    .homepage .rightsideloader:before, .browse .rightsideloader:before {
      content: "";
      width: 50px;
      height: 50px;
      display: block;
      top: 0;
      left: 0;
      margin: 20px auto;
      border: 3px solid #DDD;
      border-radius: 50px;
      border-top: 3px solid #32414a;
      animation: rotate 0.75s infinite linear; }
  .homepage .goleft, .browse .goleft {
    transform: translateX(0%); }
  .homepage .rightside, .browse .rightside {
    width: 300px;
    background: #e6e6e6;
    border-left: 1px solid #DDD;
    position: fixed;
    height: calc(100vh - 46px);
    margin-top: 46px;
    top: 0;
    right: 0; }
    .homepage .rightside .readme, .browse .rightside .readme {
      text-align: center;
      margin-top: 40px; }
      .homepage .rightside .readme span, .browse .rightside .readme span {
        display: inline-block;
        font-size: 60px;
        background: #32414a;
        color: #FFF;
        width: 100px;
        height: 100px;
        line-height: 100px;
        border-radius: 50px; }
    .homepage .rightside .tooltip, .browse .rightside .tooltip {
      font-size: 12px;
      text-align: center;
      margin-top: 20px; }
    .homepage .rightside img, .browse .rightside img {
      width: 100%;
      height: auto;
      padding: 10px;
      box-sizing: border-box; }
    .homepage .rightside .readmore, .browse .rightside .readmore {
      display: block;
      text-align: center;
      text-decoration: none;
      background: #54a575;
      color: #FFF;
      padding: 10px;
      margin-top: 10px;
      border-radius: 5px;
      font-size: 16px;
      margin: 10px; }
    .homepage .rightside .entry, .browse .rightside .entry {
      display: flex;
      justify-content: flex-start;
      padding: 10px;
      font-size: 13px;
      border-top: 1px solid #DDD; }
      .homepage .rightside .entry span:first-child, .browse .rightside .entry span:first-child {
        color: #6086b7;
        font-weight: 500;
        width: 100px; }

.holder {
  display: flex;
  margin: 0 -5px; }
  .holder .item-component {
    width: 20%; }

.item-component {
  margin: 0 5px;
  position: relative;
  margin-bottom: 15px;
  overflow: hidden; }
  .item-component img {
    width: 100%;
    height: auto;
    border: 1px solid #DDD;
    display: block;
    box-sizing: border-box; }
  .item-component p {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    color: #FFF;
    background: rgba(50, 65, 74, 0.76);
    width: 100%;
    box-sizing: border-box;
    font-weight: 300;
    padding: 5px 10px;
    z-index: 1;
    backface-visibility: hidden; }
  .item-component:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background: #6086b7;
    transition: 0s width linear, 0.25s transform linear; }
  .item-component:after {
    content: "Now Viewing";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 300;
    color: #FFF;
    padding: 10px;
    box-sizing: border-box;
    transform: translateY(-100%);
    transition: 0.25s all; }
  .item-component:hover:before {
    width: 100%;
    transition: width 1s linear, 0.25s transform linear; }
  .item-component .hovered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    background: rgba(50, 65, 74, 0.32);
    color: #FFF;
    font-size: 75px;
    transition: 0.25s all;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .item-component .hovered:hover {
      opacity: 1; }
    .item-component .hovered span {
      margin-top: -25px; }
  .item-component .selected {
    opacity: 1; }

.selected-main .selected {
  animation: bounce 0.25s ease-in-out;
  background: rgba(50, 65, 74, 0.47); }

.selected-main:before {
  transform: translateY(-5px); }

.selected-main:after {
  transform: translateY(0); }

@keyframes bgmove {
  0% {
    background-position-x: 0; }
  50% {
    background-position-x: 100%; }
  100% {
    background-position-x: 0; } }

.intro-header {
  background: url("bg.jpg");
  animation: bgmove 80s linear infinite;
  background-size: 300px auto;
  width: calc(100% - 300px);
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset -1px -1px 10px #000; }
  .intro-header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1; }
  .intro-header h1 {
    color: #FFF;
    font-size: 7em;
    position: relative;
    font-weight: 300;
    z-index: 2;
    margin: 0;
    text-shadow: 0px 4px 13px #000; }
    .intro-header h1 b {
      font-weight: bold; }
  .intro-header p {
    font-weight: 300;
    text-align: center;
    position: relative;
    z-index: 2;
    color: #FFF;
    text-shadow: 0px 4px 13px #000; }

.profile-snippet {
  display: flex;
  padding: 10px; }
  .profile-snippet .profile-photo {
    width: 75px; }
    .profile-snippet .profile-photo .rounder {
      height: 75px;
      border-radius: 50px;
      overflow: hidden;
      border: 1px solid #32414a; }
    .profile-snippet .profile-photo img {
      width: 100%;
      height: auto;
      display: block; }
  .profile-snippet .profile-info {
    width: calc(100% - 75px);
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    .profile-snippet .profile-info h1 {
      margin-bottom: 5px;
      font-weight: 500;
      font-size: 14px;
      width: 100%; }
    .profile-snippet .profile-info p {
      margin: 0;
      width: 100%;
      font-size: 12px; }

.browseinfo {
  padding: 10px; }

.sort-form h4 {
  margin: 0 0 10px;
  font-weight: 500;
  color: #6086b7; }

.sort-form div {
  margin-bottom: 15px; }

.sort-form button {
  font-family: 'Roboto', sans-serif;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 500;
  padding: 10px;
  color: #FFF;
  background: #32414a;
  border: 0;
  border-radius: 3px;
  outline: 0;
  cursor: pointer; }

.sort-form .tags, .sort-form .language {
  display: flex;
  flex-flow: wrap; }
  .sort-form .tags label, .sort-form .language label {
    display: block;
    width: 50%; }

.sort-form .artist input {
  width: 100%;
  background: #f3f3f3;
  border: 1px solid #DDD;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  outline: 0; }

.sort-form .divider {
  border-top: 1px solid #DDD;
  margin: 15px 0; }

.filtered-items {
  display: flex;
  flex-flow: wrap; }
  .filtered-items .item-component {
    display: block;
    width: calc(20% - 10px); }

.footer {
  background: #32414a;
  min-height: 300px;
  position: relative;
  z-index: 100; }
