html {
  font-family: 'Roboto', sans-serif;
  color: #6b6b6b;
  font-size: 14px; }

body {
  background: #e0e0e0; }

div {
  box-sizing: border-box; }

p {
  line-height: 1.5; }

ul {
  margin: 0 0 10px 20px;
  padding: 0; }

a {
  text-decoration: none;
  color: #6086b7;
  transition: 0.25s all; }

a:hover {
  color: #95b1d6; }

.header {
  display: flex;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.27);
  background: #f3f3f3;
  height: 46px;
  position: relative;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }

.logo {
  padding: 15px;
  width: 95px; }

.search {
  padding: 15px; }

.simple-nav {
  padding: 10px;
  margin: 0 0 0 auto;
  overflow: hidden;
  list-style: none;
  font-size: 25px; }
  .simple-nav span {
    display: block;
    margin-top: -1px; }

.user-profile p {
  margin: 0;
  line-height: 1;
  padding: 15px; }

.leftnav {
  width: 95px;
  background: #32414a;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.27);
  height: calc(100vh - 46px);
  position: relative;
  z-index: 998;
  position: fixed;
  left: 0;
  bottom: 0; }
  .leftnav ul {
    margin: 0;
    list-style: none;
    padding: 10px 15px; }
    .leftnav ul li {
      padding: 10px 5px;
      color: #FFF;
      font-size: 13px;
      text-align: center; }
      .leftnav ul li span {
        display: block;
        font-size: 25px;
        margin-bottom: 2px; }

.main-container {
  background: #e6e6e6;
  display: flex;
  background: #f3f3f3;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.27); }
  .main-container p {
    margin: 0 0 10px;
    font-size: 13px; }
  .main-container ul {
    font-size: 13px; }
    .main-container ul li {
      padding: 2px 0; }
  .main-container .leftside {
    width: 250px;
    background: #e6e6e6;
    border-right: 1px solid #DDD; }
    .main-container .leftside img {
      width: 100%;
      height: auto;
      display: block; }
    .main-container .leftside .img-holder {
      padding: 10px;
      padding-bottom: 0; }
    .main-container .leftside .readnow {
      display: block;
      text-align: center;
      text-decoration: none;
      background: #54a575;
      color: #FFF;
      padding: 10px;
      margin-top: 10px;
      border-radius: 5px;
      font-size: 16px;
      margin: 10px; }
    .main-container .leftside .mini-data {
      overflow: auto;
      display: flex;
      padding: 10px;
      border-top: 1px solid #DDD;
      font-size: 13px; }
      .main-container .leftside .mini-data span {
        display: block;
        width: 50%; }
      .main-container .leftside .mini-data span:first-child {
        font-weight: 500;
        color: #5889a7; }
  .main-container .rightside {
    width: calc(100% - 250px);
    padding: 10px; }
    .main-container .rightside h1 {
      font-weight: 300;
      margin: 0 0 10px;
      border-bottom: 1px solid #DDD;
      padding: 5px 0; }
    .main-container .rightside h3 {
      margin: 0 0 5px;
      font-weight: 500;
      font-size: 14px;
      color: #5889a7; }
    .main-container .rightside p {
      margin-bottom: 20px; }
    .main-container .rightside ul {
      overflow: auto;
      margin: 0 0 20px;
      list-style: none; }
    .main-container .rightside li {
      width: 50%;
      float: left;
      padding: 5px;
      box-sizing: border-box;
      transition: 0.25s all;
      border-radius: 5px;
      cursor: default; }
    .main-container .rightside li:hover {
      background: #e8e8e8; }
    .main-container .rightside .split-two {
      display: flex; }
      .main-container .rightside .split-two .fifty-container {
        padding: 5px 20px 5px 5px; }
      .main-container .rightside .split-two .larger {
        width: 75%; }
      .main-container .rightside .split-two .smaller {
        width: 25%; }
    .main-container .rightside .related, .main-container .rightside .preview {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 20px; }
      .main-container .rightside .related div, .main-container .rightside .preview div {
        display: block;
        padding: 5px 3px 0;
        width: 20%;
        position: relative; }
        .main-container .rightside .related div img, .main-container .rightside .preview div img {
          width: 100%;
          height: auto;
          display: block; }
        .main-container .rightside .related div span, .main-container .rightside .preview div span {
          position: absolute;
          bottom: 0;
          left: 0;
          margin: 0 3px;
          background: linear-gradient(transparent, #000);
          color: #FFF;
          font-weight: 500;
          padding: 10px 10px;
          box-sizing: border-box; }

.content-with-nav {
  overflow: auto;
  margin-left: 95px;
  margin-top: 46px; }
  .content-with-nav .main-container {
    width: 100%; }

.content-without-nav {
  overflow: auto;
  margin-top: 46px;
  width: 100%;
  background: #f3f3f3; }
  .content-without-nav .mini-back {
    text-align: left;
    background: #e6e6e6;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #DDD; }
    .content-without-nav .mini-back h3 {
      font-weight: 300;
      font-size: 2em;
      margin: 0 0 10px; }
  .content-without-nav .bottom {
    border-top: 1px solid #DDD;
    border-bottom: 0;
    margin-bottom: 0; }
  .content-without-nav .imageholder {
    text-align: center; }
    .content-without-nav .imageholder img {
      max-width: 100%;
      margin: 0 auto;
      display: block;
      margin-bottom: 10px; }

.upload-form {
  background: #f3f3f3;
  padding: 10px; }
  .upload-form h4 {
    font-weight: 500;
    margin: 5px 0 5px 3px;
    font-size: 11px; }
  .upload-form input, .upload-form textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #DDD;
    outline: 0; }
  .upload-form button {
    background: #32414a;
    border: 0;
    padding: 10px 20px;
    color: #FFF;
    border-radius: 3px;
    margin: 10px 5px;
    cursor: pointer;
    transition: 0.25s all; }
  .upload-form button:hover {
    background: #647c8a; }

.footer {
  background: #32414a;
  min-height: 300px; }
