$padding: 10px;
$margin: 10px;
$paddingHead: 15px;

$containerShadow: 0px 1px 2px rgba(0, 0, 0, 0.27);
$rightOrientContainerShadow: 1px 0px 2px rgba(0, 0, 0, 0.27);

$containerBg: #f3f3f3;
$mainBg: #e6e6e6;
$leftBg: #e6e6e6;
$darkContainerBg: #32414a;

$mainColor: #6b6b6b;
$smallHeadingColor: #5889a7;;
$linkColor: #040404;

$headerHeight: 46px;
$navWidth: 95px;
$leftWidth: 250px;

html{
    font-family: 'Roboto', sans-serif;
    color: $mainColor;
    font-size: 14px;
}

body{
    background: #e0e0e0;
}

div{
    box-sizing: border-box;
}

p{
    line-height: 1.5;
}

ul{
    margin: 0 0 10px 20px;
    padding: 0;
}

.header{
    display: flex;
    box-shadow: $containerShadow;
    background: $containerBg;
    height: $headerHeight;
    position: relative;
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.logo{
    padding: $paddingHead;
    width: $navWidth;
}

.search{
    padding: $paddingHead;
}

.simple-nav{
    padding: $padding;
    margin: 0 0 0 auto;
    overflow: hidden;
    list-style: none;
    font-size: 25px;

    span{
        display: block;
        margin-top: -1px;
    }
}

.user-profile{
    p{
        margin: 0;
        line-height: 1;
        padding: $paddingHead;
    }
}

.leftnav{
    width: $navWidth;
    background: $darkContainerBg;
    box-shadow: $rightOrientContainerShadow;
    height: calc(100vh - #{$headerHeight});
    position: relative;
    z-index: 998;
    position: fixed;
    left: 0;
    bottom: 0;

    ul{
        margin: 0;
        list-style: none;
        padding: 10px 15px;

        li {
            padding: 10px 5px;
            color: #FFF;
            font-size: 13px;
            text-align: center;

            span{
                display: block;
                font-size: 25px;
                margin-bottom: 2px;
            }
        }
    }
}

.main-container{
    background: $mainBg;
    display: flex;
    background: $containerBg;
    box-shadow: $containerShadow;

    p{
        margin: 0 0 10px;
        font-size: 13px;
    }

    ul{
        font-size: 13px;

        li{
            padding: 2px 0;
        }
    }

    .leftside{
        width: $leftWidth;
        background: $leftBg;
        border-right: 1px solid #DDD;

        img{
            width: 100%;
            height: auto;
            display: block;
        }

        .img-holder{
            padding: $padding;
            padding-bottom: 0;
        }

        .readnow{
            display: block;
            text-align: center;
            text-decoration: none;
            background: #54a575;
            color: #FFF;
            padding: 10px;
            margin-top: 10px;
            border-radius: 5px;
            font-size: 16px;
            margin: $margin;
        }

        .mini-data{
            overflow: auto;
            display: flex;
            padding: $padding;
            border-top: 1px solid #DDD;
            font-size: 13px;

            span{
                display: block;
                width: 50%;
            }

            span:first-child{
                font-weight: 500;
                color: $smallHeadingColor;
            }
        }
    }

    .rightside{
        width: calc(100% - #{$leftWidth});
        padding: $padding;

        h1{
            font-weight: 300;
            margin: 0 0 10px;
            border-bottom: 1px solid #DDD;
            padding: 5px 0;
        }

        h3{
            margin: 0 0 5px;
            font-weight: 500;
            font-size: 14px;
            color: $smallHeadingColor;
        }

        p{
            margin-bottom: 20px;
        }

        ul{
            overflow: auto;
            margin: 0 0 20px;
            list-style: none;
        }

        li{
            width: 50%;
            float: left;
        }

        .split-two{
            display: flex;
            
            .fifty-container{
                padding: 5px 20px 5px 5px;
            }

            .larger{
                width: 75%;
            }

            .smaller{
                width: 25%;
            }
        }

        .related{
            display: flex;
            justify-content: space-between;
            width: 100%;

            div{
                display: block;
                padding: 5px 3px 0;

                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

.content-with-nav{
    overflow: auto;
    margin-left: $navWidth;
    margin-top: $headerHeight;

    .main-container{
        width: 100%;
    }
}

.footer{
    background: $darkContainerBg;
    min-height: 300px;
}