$padding: 10px;
$margin: 10px;
$paddingHead: 10px;

$logoWidth: 200px;

$containerShadow: 0px 1px 2px rgba(0, 0, 0, 0.27);
$rightOrientContainerShadow: 1px 0px 2px rgba(0, 0, 0, 0.27);

$containerBg: #f3f3f3;
$mainBg: #e6e6e6;
$leftBg: #e6e6e6;
$darkContainerBg: #32414a;
$darkContainerHoverBg: #647c8a;

$mainColor: #6b6b6b;
$smallHeadingColor: #5889a7;;
$linkColor: #6086b7;
$linkColorHover: #95b1d6;

$headerHeight: 46px;
$navWidth: 95px;
$leftWidth: 250px;

html{
    font-family: 'Roboto', sans-serif;
    color: $mainColor;
    font-size: 14px;
}

body{
    background: #e0e0e0;
}

div{
    box-sizing: border-box;
}

p{
    line-height: 1.5;
}

ul{
    margin: 0 0 10px 20px;
    padding: 0;
}

a{
    text-decoration: none;
    color: $linkColor;
    transition: 0.25s all;
}

a:hover{
    color: $linkColorHover;
}

.header{
    display: flex;
    box-shadow: $containerShadow;
    background: $containerBg;
    height: $headerHeight;
    position: relative;
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: flex-start;
}

.logo{
    padding: $paddingHead;
    width: $logoWidth;

    img{
        height: 100%;
        width: auto;
    }
}

.search{
    padding: $paddingHead;
    display: flex;
    align-items: center;
    width: 50%;

    form{
        width: 100%;
        display: flex;
        border: 1px solid #cacaca;
        border-radius: 3px;

        input{
            padding: 7px 10px;
            outline: 0;
            background: $containerBg;
            border: 0;
            border-radius: 3px 0 0 3px;
            width: calc(100% - 55px);
        }

        button{
            height: 100%;
            background: $leftBg;
            border: 0;
            padding: 7px 20px;
            border-radius: 0 3px 3px 0;
            border-left: 1px solid #cacaca;
            outline: 0;
            width: 55px;
            cursor: pointer;
        }
    }
}

.simple-nav{
    padding: $padding;
    margin: 0 0 0 auto;
    overflow: hidden;
    list-style: none;
    font-size: 25px;

    span{
        display: block;
        margin-top: -1px;
    }
}

.user-profile{
    padding: 7px;
    margin: 0 10px;
    width: $headerHeight;
    height: $headerHeight;
    cursor: pointer;
    
    p{
        margin: 0;
        line-height: 1;
        padding: $paddingHead;
    }

    .crop-image{
        height: 100%;
        border-radius: 100px;
        overflow: hidden;

        img{
            height: 100%;
            width: auto;
        }
    }
}

.leftnav{
    width: $navWidth;
    background: $darkContainerBg;
    box-shadow: $rightOrientContainerShadow;
    height: calc(100vh - #{$headerHeight});
    position: relative;
    z-index: 998;
    position: fixed;
    left: 0;
    bottom: 0;

    ul{
        margin: 0;
        list-style: none;
        padding: 10px 15px;

        li {
            padding: 10px 5px;
            color: #FFF;
            font-size: 13px;
            text-align: center;

            span{
                display: block;
                font-size: 25px;
                margin-bottom: 2px;
            }
        }
    }
}

.main-container{
    background: $mainBg;
    display: flex;
    background: $containerBg;
    box-shadow: $containerShadow;

    p{
        margin: 0 0 10px;
        font-size: 13px;
    }

    ul{
        font-size: 13px;

        li{
            padding: 2px 0;
        }
    }

    .leftside{
        width: $leftWidth;
        background: $leftBg;
        border-right: 1px solid #DDD;

        img{
            width: 100%;
            height: auto;
            display: block;
        }

        .img-holder{
            padding: $padding;
            padding-bottom: 0;
        }

        .readnow{
            display: block;
            text-align: center;
            text-decoration: none;
            background: #54a575;
            color: #FFF;
            padding: 10px;
            margin-top: 10px;
            border-radius: 5px;
            font-size: 16px;
            margin: $margin;
        }

        .mini-data{
            overflow: auto;
            display: flex;
            padding: $padding;
            border-top: 1px solid #DDD;
            font-size: 13px;

            span{
                display: block;
                width: 50%;
            }

            span:first-child{
                font-weight: 500;
                color: $smallHeadingColor;
            }
        }
    }

    .rightside{
        width: calc(100% - #{$leftWidth});
        padding: $padding;

        h1{
            font-weight: 300;
            margin: 0 0 10px;
            border-bottom: 1px solid #DDD;
            padding: 5px 0;
        }

        h3{
            margin: 0 0 5px;
            font-weight: 500;
            font-size: 14px;
            color: $smallHeadingColor;
        }

        p{
            margin-bottom: 20px;
        }

        ul{
            overflow: auto;
            margin: 0 0 20px;
            list-style: none;
        }

        li{
            width: 50%;
            float: left;
            padding: 5px;
            box-sizing: border-box;
            transition: 0.25s all;
            border-radius: 5px;
            cursor: default;
        }

        li:hover{
            background: #e8e8e8;
        }

        .split-two{
            display: flex;
            
            .fifty-container{
                padding: 5px 20px 5px 5px;
            }

            .larger{
                width: 75%;
            }

            .smaller{
                width: 25%;
            }
        }

        .related, .preview{
            display: flex;
            justify-content: flex-start;
            width: 100%;
            margin-bottom: 20px;

            div{
                display: block;
                padding: 5px 3px 0;
                width: 20%;
                position: relative;

                img{
                    width: 100%;
                    height: auto;
                    display: block;
                }

                span{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    margin: 0 3px;
                    background: linear-gradient(rgba(0, 0, 0, 0), #000);
                    color: #FFF;
                    font-weight: 500;
                    padding: 10px 10px;
                    box-sizing: border-box;
                }
            }
        }
    }
}

.content-with-nav{
    overflow: auto;
    margin-left: $navWidth;
    margin-top: $headerHeight;

    .main-container{
        width: 100%;
    }
}

.content-without-nav{
    overflow: auto;
    margin-top: $headerHeight;
    width: 100%;
    background: $containerBg;

    .mini-back{
        text-align: left;
        background: $mainBg;
        margin-bottom: $margin;
        padding: $padding;
        border-bottom: 1px solid #DDD;

        h3{
            font-weight: 300;
            font-size: 2em;
            margin: 0 0 10px;
        }
    }

    .bottom{
        border-top: 1px solid #DDD;
        border-bottom: 0;
        margin-bottom: 0;
    }

    .imageholder{
        text-align: center;

        img{
            max-width: 100%;
            margin: 0 auto;
            display: block;
            margin-bottom: 10px;
        }
    }
}

.upload-form{
    background: #f3f3f3;
    padding: $padding;

    h4{
        font-weight: 500;
        margin: 5px 0 5px 3px;
        font-size: 11px;
    }

    input, textarea{
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid #DDD;
        outline: 0;
    }

    button{
        background: $darkContainerBg;
        border: 0;
        padding: 10px 20px;
        color: #FFF;
        border-radius: 3px;
        margin: 10px 5px;
        cursor: pointer;
        transition: 0.25s all;
    }

    button:hover{
        background: $darkContainerHoverBg;
    }
}

.homepage{
    background: $containerBg;
    display: flex;

    .leftside{
        width: calc(100% - 300px);

        .moreitems{
            padding: $padding;
        }

        h1{
            font-weight: 300;
            margin: 0 0 10px;
            border-bottom: 1px solid #DDD;
            padding-bottom: 10px;
        }
    }

    .rightside{
        width: 300px;
        background: $leftBg;
        border-left: 1px solid #DDD;

        .readme{
            text-align: center;
            margin-top: 20px;
            
            span{
                display: inline-block;
                font-size: 60px;
                background: $darkContainerBg;
                color: #FFF;
                width: 100px;
                height: 100px;
                line-height: 100px;
                border-radius: 50px;
            }
        }

        .tooltip{
            font-size: 12px;
            text-align: center;
            margin-top: 20px;
        }

        img{
            width: 100%;
            height: auto;
            padding: $padding;
            box-sizing: border-box;
        }

        .readmore{
            display: block;
            text-align: center;
            text-decoration: none;
            background: #54a575;
            color: #FFF;
            padding: 10px;
            margin-top: 10px;
            border-radius: 5px;
            font-size: 16px;
            margin: $margin;
        }

        .entry{
            display: flex;
            justify-content: flex-start;
            padding: 10px;
            font-size: 13px;
            border-top: 1px solid #DDD;

            span:first-child{
                color: $linkColor;
                font-weight: 500;
                width: 100px;
            }
        }
    }
}

.holder{
    display: flex;

    .item-component{
        width: 20%;
    }
}

.item-component{
    margin: 0 5px;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;

    img{
        width: 100%;
        height: auto;
        border: 1px solid #DDD;
        display: block;
        box-sizing: border-box;
    }

    p{
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        color: #FFF;
        background: rgba(50, 65, 74, 0.76);
        width: 100%;
        box-sizing: border-box;
        font-weight: 300;
        padding: 5px 10px;
        z-index: 1;
        backface-visibility: hidden;
    }

    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 5px;
        background: $linkColor;
        transition: 0s width linear, 0.25s transform linear;
    }

    &:hover{
        &:before{
            width: 100%;
            transition: width 1s linear, 0.25s transform linear;
        }
    }

    .hovered{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding-top: 50%;
        height: 100%;
        box-sizing: border-box;
        background: rgba(50, 65, 74, 0.32);
        color: #FFF;
        font-size: 75px;
        transition: 0.25s all;
        opacity: 0;

        &:hover{
            opacity: 1;
        }
    }

    .selected{
        opacity: 1;
    }
}

@keyframes bounce{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.5);
    }

    100%{
        transform: scale(1);
    }
}

.selected-main{
    .selected{
        animation: bounce 0.25s ease-in-out;
    }

    &:before{
        transform: translateY(-5px);
    }
}

.footer{
    background: $darkContainerBg;
    min-height: 300px;
}